@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");

/* Loading animation*/

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Semi-transparent white background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure it's above other content */
}

.spinner {
  width: 50px;
  height: 50px;
  border: 3px solid #ccc;
  border-top-color: #333; /* Darker color for spinner */
  border-radius: 50%;
  animation: spin 1s linear infinite; /* Rotate animation */
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* */

.App {
  font-family: "Poiret One", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: scroll;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/* Header */

body {
  font-family: "Poiret One", sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  background-color: white;
  align-items: center;
  justify-content: space-around;
}

.logo {
  width: 10vw;
}

/* intro-image-container */

.intro-image-container {
  display: flex;
  margin-bottom: 10vh;
}

.intro-image {
  width: 100%;
}

/* Horizontal-image container here! */

.presentation-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2vw;
}

.content-left {
  height: 100vh;
  width: 50vw;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}
.content-right {
  height: 100vh;
  width: 50vw;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.img-1 {
  width: 60vh;
}

.img-2 {
  width: 60vh;
}

/* Horizontal-image container here! */

.horizontal-image-container {
  background-image: url("https://res.cloudinary.com/dgwvbd9ki/image/upload/v1706698118/spellworth-butterbeer/Screenshot_2024-01-31_alle_11.48.31_vsbqok.png");
  background-size: cover;
  overflow-x: hidden;
  display: block;
}

.final-presentation-container {
  display: block;
}

/* butter-beer-row-image-còntainer */

.butterbeer-row-image-container {
  margin-top: 25vh;
  align-items: center;
  margin-bottom: 5vh;
  display: flex;
  flex-direction: column;
  height: 50vh;
  width: 100%;
  overflow: hidden;
}

.butterbeer-row-image {
  min-width: 100%;
  max-width: 100%; /* Adjusted size using percentage */
  max-height: 100%; /* Adjusted size using percentage */
}

/* final-presentation container is where the products are visualized */

.final-presentation-container {
  display: block;
}

.presentation-row-1,
.presentation-row-2 {
  display: flex;
  justify-content: space-around;
}
.vertical-line {
  width: 1px;
  height: 25vh;
  margin-left: 50%;
  background-color: black;
}
.hovered-beer:hover {
  transform: scale(1.1);
  color: darkblue;
  cursor: pointer;
}

.selected-product-container {
  display: flex;
  justify-content: center;
  height: 50vh;
}

.product-image {
  border-radius: 10%;
  max-width: 100%;
  max-height: 100%; /* Adjust the maximum width as needed */
  margin-top: 50px;
  margin-right: 20px;
  margin-left: 20px; /* Add some margin to separate from the products */
  opacity: 0;
  transform: translateY(-50px); /* Initial position above the final position */
  animation: slideAndFadeIn 1s ease forwards; /* Animation duration and timing function */
}

@keyframes slideAndFadeIn {
  from {
    opacity: 0;
    transform: translateY(-50px); /* Start position above */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* Final position */
  }
}

/* Here go the brothers */

.brothers-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  gap: 10vh;
  margin-left: 2vw;
  margin-bottom: 5vh;
  overflow: hidden;
}

.brothers-img {
  height: 80vh;
  animation: slideAndFadeIn 1s ease forwards;
}

.brothers-text {
  font-size: 2.2vh;
  margin-right: 10vw;
}

/* The Estate */

.estate-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1vh;
}

.estate-img {
  height: 80vh;
  animation: slideAndFadeIn 1s ease forwards;
}

.estate-text {
  margin-left: 2vw;
  margin-right: 2vw;
}

/* Footer */

a {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
}

.footer-container {
  background-image: url("https://res.cloudinary.com/dgwvbd9ki/image/upload/v1706862976/footer.001_newjqg.png");
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
}

.footer-lists {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-list-1,
.footer-list-2,
.footer-list-3 {
  display: flex;
  flex-direction: column;
}

img {
  animation: slideAndFadeIn 1s ease forwards;
}

.spellworth-container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.spellworth-container img {
  max-width: 50%;
}

.spellworth-text {
  margin-top: 100px;
  padding: 50px;
  margin-bottom: 50px;
}

img {
  border-radius: 5vh;
}
